.Rproj.user
.Rhistory
.RData
.Ruserdata

__pycache__
*.pyc
*.idea

taskid*
index.md

true_geo.txt
possible*.txt
n_K.txt


*.synctex.gz
writing/*.pdf
writing/*.aux
writing/*.bbl
writing/*.blg
writing/*.log
writing/*.pag
writing/index.tex